In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [6]:
df = pd.DataFrame(randn(4,4), ['A','B','C','D'], ['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
C  1.129204 -0.505568  0.131456  0.736379
D  1.194864  0.417505 -0.454441 -0.896524

In [11]:
#Tek bir sütun seçilmek istendiğinde
df['X']

A   -0.800634
B    0.253696
C   -0.505568
D    0.417505
Name: X, dtype: float64

In [12]:
#Birden fazla sütun seçilmek istediğinde
df[['W','Z']]

          W         Z
A  0.922962 -0.674946
B  1.125664 -2.410283
C  1.129204  0.736379
D  1.194864 -0.896524

In [15]:
#Veri çerçevesine yeni bir sütun ekleme
df['new'] = df['W'] + df['X']

In [16]:
df

          W         X         Y         Z       new
A  0.922962 -0.800634  2.007261 -0.674946  0.122328
B  1.125664  0.253696  0.323748 -2.410283  1.379360
C  1.129204 -0.505568  0.131456  0.736379  0.623636
D  1.194864  0.417505 -0.454441 -0.896524  1.612369

In [17]:
#Veri çerçevesinden bir sütun silme
df.drop('new', axis=1, inplace=True)

In [18]:
df

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
C  1.129204 -0.505568  0.131456  0.736379
D  1.194864  0.417505 -0.454441 -0.896524

In [19]:
#Veri çerçevesinden bir satır silmek için
df.drop('D', axis=0)

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
C  1.129204 -0.505568  0.131456  0.736379

In [20]:
#Veri çerçevesinden istenen satırı seçmek
df.loc['A']

W    0.922962
X   -0.800634
Y    2.007261
Z   -0.674946
Name: A, dtype: float64

In [21]:
#Veri çerçevesinden istenen satırı seçmek
df.iloc[0]

W    0.922962
X   -0.800634
Y    2.007261
Z   -0.674946
Name: A, dtype: float64

In [22]:
#Koşul ifadeleri
booldf = df > 0

In [26]:
booldf

      W      X      Y      Z
A  True  False   True  False
B  True   True   True  False
C  True  False   True   True
D  True   True  False  False

In [27]:
df[booldf]

          W         X         Y         Z
A  0.922962       NaN  2.007261       NaN
B  1.125664  0.253696  0.323748       NaN
C  1.129204       NaN  0.131456  0.736379
D  1.194864  0.417505       NaN       NaN

In [28]:
df[df['W'] > 0]

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
C  1.129204 -0.505568  0.131456  0.736379
D  1.194864  0.417505 -0.454441 -0.896524

In [30]:
#and(&) operatörü
df[(df['W'] > 0) & (df['Z'] < 0)]

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
D  1.194864  0.417505 -0.454441 -0.896524

In [32]:
#or (|) operatörü
df[(df['W'] > 0) | (df['Z'] < 0)]

          W         X         Y         Z
A  0.922962 -0.800634  2.007261 -0.674946
B  1.125664  0.253696  0.323748 -2.410283
C  1.129204 -0.505568  0.131456  0.736379
D  1.194864  0.417505 -0.454441 -0.896524